{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}

<div class="logo-container">
    <div class="logo">
        <img id="aboutCow" src="../static/images/cow_in_grass.svg" draggable="false">
    </div>
</div>
<div class="about-container no-select-text green-bg">
    <div class="input-align">
        <h1>about</h1>
    <p>
        Have you ever had recipes that you've been dying to try but are too tired to compile a list? 
        Welcome to my world! Laziness breeds innovation! I hereby present to you: milk-it! <br><br>
        Recently, I've developed a newfound love for experimenting with new recipes. I'll fall into 
        rabbit holes of recipes I want to try but copying down every single ingredient is just so 
        much work! With milk-it, just paste your stellar recipe into our search bar and voila! All 
        of your ingredients can be added to your grocery list with just a click of a button! 
        Additionally, if you need to prepare a little more or a little less food, you can easily 
        scale your recipe before adding it. <br><br>
        Run out of milk? Need a new cereal? No problem! With milk-it, you can also add a list of
        individual items that aren't in a recipe. It's as simple as that! List-making is no longer 
        such a daunting task! <br><br>
        Whether you use this site while shopping or prefer another application, I've got you covered! 
        Using your list is super easy. Just pop it open and get shopping! You can cross items off, 
        reset your list, and even copy it to share with others! <br><br>
        In the summer of 2025, I started this project as a "non-lazy way for me to keep being lazy!" 
        I've learned so much along the way from python packages and touching the surface of NLP, 
        to fully developing a dynamic front end with JavaScript and connecting it to my totally python
        backend with FastAPI! I had so much fun designing this site, and there's so many ways to 
        expand upon the foundation I've laid, so stay tuned... <br><br>
    </p>
    </div>
</div>
<div class="attribution-container no-select-text input-align">
    <h1>attributions</h1>
    <p>Cow Illustration <a href="http://www.freepik.com">designed by rawpixel.com / Freepik</a></p>
    <p>Grass Illustration <a href="http://www.freepik.com">designed by Freepik</a></p>
</div>

{% endblock %}